<div class="template-container container">
    <h1>Write a new post, brah!</h1>
    <!--<div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Compose New Post</h3>
                </div>
                <form ng-submit="submit()" class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="input-name">Your Name</label>
                        <input class="form-control" type="text" ng-model="postData.name" placeholder="Yes, You!">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="input-message">Message</label>
                        <input class="form-control" type="text" ng-model="postData.message" placeholder="Shout into the void!">
                    </div>
                    <button type="button" class="btn btn-default" ng-click="toggleModal()">Close</button>
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>-->
</div>