<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">Shout Into The Void</a>
        </div>

        <div class="nav navbar-nav navbar-right button-top-marg">
            <!-- should be visible when unauthenticated -->
            <a href="#/register"><button class="btn btn-default hover-primary" ng-if="!isLoggedIn()">REGISTER</button></a>
            <a href="#/login"><button class="btn btn-default hover-primary" ng-if="!isLoggedIn()">LOG IN</button></a>

            <!-- should only be visible when authenticated -->
            <button ng-if="isLoggedIn()" class="btn btn-default btn-primary">{{ activeUser() }}</button>
            <a href="#/newPost"><button class="btn btn-default hover-primary" ng-if="isLoggedIn()">NEW POST</button></a>
            <button class="btn btn-default hover-primary" ng-click="logout()" ng-if="isLoggedIn()">LOG OUT</button>
        </div>

    </div>
</nav>