body {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

header {
    background-color: cadetblue;
    width: 100%;
    display: inline-block;
}

header h1 {
    float: left;
    margin-left: 16px;
}

header button {
    margin-top: 18px;
    margin-right: 16px;
    padding: 8px;
    float: right;
    font-size: 22px;
}

section .post_feed {
    align-content: center;
}

.post {
    position: relative;
    margin: 20px auto 0 auto;
    padding: 10px 15px;
    width: 85%;
    background-color: whitesmoke;
}

.post_delete_btn {
    position: absolute;
    top: 12px;
    right: 12px;
}

.post_edit_btn {
    position: absolute;
    top: 36px;
    right: 12px;
}

.modal_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color: rgba(0,0,55,.4);
    display: block;
}
