body {
    background-color: lightslategrey;
}

.post_feed {
    margin-top: 90px;
}

.modal-header {
    background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -o-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6d94bf), color-stop(50%, #446e9b), to(#3e648d));
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
}

.modal-header h3 {
    color: #dddddd;
}

.hover-primary:hover {
    background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -o-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6d94bf), color-stop(50%, #446e9b), to(#3e648d));
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
}

.hover-warning:hover {
    background-image: -webkit-linear-gradient(#ff9c21, #d47500 50%, #c06a00);
    background-image: -o-linear-gradient(#ff9c21, #d47500 50%, #c06a00);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9c21), color-stop(50%, #d47500), to(#c06a00));
    background-image: linear-gradient(#ff9c21, #d47500 50%, #c06a00);
}

.hover-danger:hover {
    background-image: -webkit-linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
    background-image: -o-linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1d1b), color-stop(50%, #cd0200), to(#b90200));
    background-image: linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
}

.post {
    background-image: -webkit-linear-gradient(#fff, #eee 50%, #e4e4e4);
    background-image: -o-linear-gradient(#fff, #eee 50%, #e4e4e4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee), to(#e4e4e4));
    background-image: linear-gradient(#fff, #eee 50%, #e4e4e4);
}

.button-top-marg {
    margin-top: 6px;
}