/*html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

*/

section.spacer {
    height: 70px;
}

.modal-header {
    background-image: -webkit-linear-gradient(#fff, #eee 50%, #e4e4e4);
    background-image: -o-linear-gradient(#fff, #eee 50%, #e4e4e4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee), to(#e4e4e4));
    background-image: linear-gradient(#fff, #eee 50%, #e4e4e4);
}